<%- include("partials/header") %> <%- include("partials/navbar") %>
   <div class="p-3 mb-2 b-5 bg-info h-10 text-white" >
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a class="btn btn-primary" href="/add">ADD PATIENT</a>
  </div> 
<%- include("partials/footer") %>


